
body{
    margin: 0;
    text-align: center;
}


.topContainer{
    background-color: #b2f6f6;
}

.nameIntro{
    margin-top: 0px;
}

.middleContainer {
    height: 200px;
    width: 200px;
    background-color: red;
}
.bottomContainer {
    height: 200px;
    width: 200px;
    background-color: blue;
}