.iceCreamCup {
    background-color: red;
}

.circular{
    border-radius: 100%;
}

.iceCreamCone{
    background-color: aliceblue;
}

#mainHeading{
    color: brown;
}

img:hover{
    background-color: white;
}

h1 {
    color: red;
    font-size: 50px;
}